$color__background-body: #ffffff;
$color__body-text: #000000;

$color__site-primary: #050590;
$color__site-bg-primary: #001466;

$color__site-secondary: #FF8B50;

$color__site-dark: #000;
$color__site-white: #fff;

$color__site-gray: #f2f2f2;
$color__site-lightgray: #F4FAFF;
