/*----------------------------------
  HEADER STYLES
  ---------------------------------------------------------------------------------*/
body {
  header {
    min-height: 150px;
    position: fixed;
    inset: 0 0 auto 0;
  }
}
